body{
    background-color: #131A40;
}

.container{
    background-color: #04B2D9;
}

p{
    background-color: #3F76A6;
}

div{
    background-color: #5FC2D9;
    width: 100px;
    
}

h1{
    background-color: aliceblue;
}
